* {
    background-image: url(image/Spidsrodenfront.jpg);
    position: fixed;
    background-repeat: no-repeat;
    width: 100vw
}

/*COLORS:
Mørk orange: #8c2f0e
Lysere orange: #cf6539
Lyseste orange: #e59136
Babyorange: #ff995f
Mørk grøn: #476d42
Lysere grøn: #69933c
Lyseste grøn: #aac174
Sort: #000000
Hvid: #ffffff*/

* {}
