                    /*COLORS:
Mørk orange: #8c2f0e
Lysere orange: #cf6539
Lyseste orange: #e59136
Babyorange: #ff995f
Mørk grøn: #476d42
Lysere grøn: #69933c
Lyseste grøn: #aac174
Sort: #000000
Hvid: #ffffff*/

                        * {
                            margin: 0;
                        }

                        @font-face {
                            font-family: 'atwriter-webfont';
                            src: url('font/atwriter-webfont.woff2') format('woff2'), url('font/atwriter-webfont.woff') format('woff');
                            font-weight: normal;
                            font-style: normal;
                        }

                        h2 {
                            font-family: 'atwriter-webfont';
                        }

                        a {
                            font-family: "atwriter-webfont";
                            color: #69933c;
                        }

                        a:hover {
                            color: #cf6539;
                        }

                        footer {
                            font-family: "atwriter-webfont";
                            background-color: #476d42;
                            padding-bottom: 10px;
                            text-align: center;
                        }

                        footer img {
                            width: 100%
                        }

                        #kontaktinfo img {
                            width: 400px;
                        }

                        p {
                            font-family: "atwriter-webfont";
                            margin: 20px;
                        }

                        .sectionwrapper {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                    }
                    .sectionwrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .column {
                        width: 400px;
                    }
                    .instagram {
                        max-width: 800px;
                        margin-left: 50%;
                        transform: translateX(-50%);
                    }
                    .video iframe {
                        margin-left: 50%;
                        transform: translateX(-50%);
                        width: 1000px;
                        height: 600px;
                    }
                    .menu {
                        background-color: #476d42;
                        overflow: hidden;
                        margin-top: 205px;
                    }
                    .menu {
                        float: right;
                        display: block;
                        color: #000000;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        font-family: 'atwriter-webfont';
                        font-style: bold;
                        font-size: 17px;
                    }
                    .menu a:hover {
                        color: #cf6539;
                    }
                    .ikon {
                        width: 40px !important;
                        height: 40px;
                    }
                    .column_kontakt {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
                .menu a:hover {
                    color: #cf6539;
                }
                @media screen and (orientation:portrait) and (min-width: 376px) {
                    .video iframe {
                        width: 395px;
                    }
                    .video iframe {
                        margin-left: 50%;
                        transform: translateX(-50%);
                        width: 390px;
                        height: 600px;
                    }
                    .menu {
                        background-color: #476d42;
                        overflow: hidden;
                        margin-top: 2px;
                    }
                    /*.menu {background-color: #476d42;
        overflow: hidden;}
.menu {
        float: left;
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'atwriter-webfont';
        font-style: bold;
        font-size: 17px;
    }
.menu a:hover {
        background-color: white;
    }
*/
