/*COLORS:
Mørk orange: #8c2f0e
Lysere orange: #cf6539
Lyseste orange: #e59136
Babyorange: #ff995f
Mørk grøn: #476d42
Lysere grøn: #69933c
Lyseste grøn: #aac174
Sort: #000000
Hvid: #ffffff*/

* {}

@font-face {
    font-family: 'atwriter-webfont';
    src: url('font/atwriter-webfont.woff2') format('woff2'), url('font/atwriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "atwriter-webfont"
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
}
